<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/assets/editor-mirror/jquery-1.7.1.min.js}" type="text/javascript" src="jquery-1.7.1.min.js"></script>
    <script th:src="@{/assets/editor-mirror/ueditor4thirdparty/rich.text.util.js}"></script>
</head>
<div class="content" id="data">

</div>

<script type="text/javascript">
    $("#data").html(window.localStorage.getItem("data"))
</script>
</body>
</html>